<h1>Api keys</h1>
<% if flash[:notice] %>
    <div>
      <%= flash[:notice] %>
    </div>
<% end %>

<div>
  <h3>Logged in as <%= current_user.email %></h3>
  <ul>
    <% current_user.api_keys.each do |key| %>
      <li>
        <%= key.app_name %>
        <ul>
          <li><%= key.key %></li>
          <li><%= button_to "Delete key", key, :method => "delete" %></li>
        </ul>
      </li>

    <% end %>
  </ul>
</div>

<% if current_user.is_admin?%>
    <%= link_to "Back to users", allusers_path %>
<% else %>
    <%= link_to "New key", new_api_key_path %>
<% end %>
<%= link_to "Logout", logout_path %>