<% if @key.errors.any? %>
    <div>
      <ul>
        <%= @key.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<div>
  <%= form_for @key do |f| %>
    <%= f.label :app_name %>
      <%= f.text_field :app_name %>
      <%= f.submit "Register" %>
  <% end %>
  <%= link_to "Back", keys_path %>
</div>