<h1>All users and keys</h1>
<div>
  <ul>
    <% @users.each do |user| %>
      <li>
        <%= user.email %>
        <%= button_to "Delete user account", user, :method => "delete" %>
        <ul>
          <% user.api_keys.each do |key| %>
              <li>
                <%= key.app_name %>
                <ul>
                  <li>
                    <%= key.key %>
                    <%= button_to "Delete key", key, :method => "delete" %>
                  </li>
                </ul>
              </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>

<%= link_to "New key", new_api_key_path %>
<%= link_to "Logout", logout_path %>